.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;  /* Use full viewport height */
}

.sign-out-container {
  width: 100%;  /* Full width to center align easier */
  display: flex;
  justify-content: center;  /* Center content horizontally */
  align-items: center;  /* Center content vertically */
}

.content {
  display: flex;
  flex-grow: 1;  /* Allow content to take up available space */
  overflow: hidden;  /* Prevents additional scrolling from the container */
}

.left-panel, .right-panel {
  flex: 1;  /* Each panel takes up half the space of the container */
  overflow-y: auto;  /* Enable vertical scrolling */
  padding: 20px;  /* Add some padding */
}

.left-panel {
  border-right: 1px solid #ccc;  /* A line between the two panels */
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-details {
  font-size: 16px;
  color: #333;
}

.logout-button {
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #0056b3;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
